@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
body{
    display:flex;
    height:100vh;
    justify-content: center;
    align-items: center;
    margin:0;
}

.grid_container{
    display:grid;
    grid-template-columns: 10px,1fr,10px;
    grid-template-rows: auto;
    gap:5px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:30px;
    border-radius:5px;
    font-size: 18px;
    color: black;
  }
h6{
    color: rgb(0, 0, 0);
   
    font-size: 15px;
    font-weight:900;
    font-family: 'Poppins', sans-serif;
  }

