body{
    display:flex;
    height:100vh;
    justify-content: center;
    align-items: center;
    margin:0;
}

.grid_container{
    display:grid;
    grid-template-columns: 10px,1fr,10px;
    grid-template-rows: auto;
    gap:5px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:30px;
    border-radius:5px;
    font-size: 18px;
    color: black;
  }
